<ion-header>
  <ion-navbar>
    <ion-title>
      PROOFEOS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button block (click)="onNavigate('CropIdPage')">Add Document</button>
  </p>
  <p class="text-center" *ngIf="docs.length">
    or select validated document
  </p>
  <ion-list>
    <button ion-item *ngFor="let doc of docs.list" (click)="verifyDocument(doc)">
      <ion-icon name="checkmark-circle" item-start *ngIf="doc.proof" color="secondary"></ion-icon>
      <ion-icon name="empty" item-start *ngIf="!doc.proof"></ion-icon>
      <h2>{{doc.title}}</h2>
      <p>{{doc.date}}</p>
      <p><small>{{doc.hash}}</small></p>
      <ion-avatar item-end *ngIf="doc.proof">
        <img src="assets/imgs/barclays-logo.png">
      </ion-avatar>
    </button>
  </ion-list>
  <p><button (click)="test()">add</button></p>
</ion-content>

<ion-footer padding>
  <p>
    <a (click)="onNavigate('VerificatorPage')">Verificator Page</a>
     |
    <a (click)="onNavigate('AppovePage')">Approval Page</a>
  </p>
</ion-footer>