<ion-header>
  <ion-navbar>
    <ion-title>
      Table 66
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button block (click)="onNavigate('UploadIdPage')">Add Document</button>
  </p>
  <p class="text-center" *ngIf="docs.length">
    or select validated document
  </p>
  <ion-list>
    <button ion-item *ngFor="let doc of docs.list" (click)="onNavigate('GenerateProofPage')">
      <ion-icon name="checkmark-circle" item-start *ngIf="doc.proof"></ion-icon>
      <ion-icon name="empty" item-start *ngIf="!doc.proof"></ion-icon>
      <h2>{{doc.title}}</h2>
      <p>{{doc.date}}</p>
    </button>
  </ion-list>
  <p (click)="test()">add</p>
</ion-content>

<ion-footer padding>
  <p (click)="onNavigate('VerificatorPage')">Verificator Page</p>
</ion-footer>