<ion-header>
  <ion-navbar>
    <ion-title>Upload Id</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="metadata">
    <ion-item>
      <ion-title>Full ID</ion-title>
      <img [src]="fullImage">
      <ion-title>Cropped ID</ion-title>
      <img [src]="croppedImage">
    </ion-item>
    <ion-item *ngFor="let key of getKeys(metadataDisplayNames)">
      <ion-label>{{metadataDisplayNames[key]}}</ion-label>
      <ion-input type="text" [value]="metadata[key]"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="submitNewDocument()">Upload ID</button>
</ion-content>