<ion-header>
  <ion-navbar>
    <ion-title>Upload and crop ID</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="croppedImage && croppedImage.image">Crop your face area</h2>
  <img-cropper [image]="croppedImage" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>

  <div *ngIf="croppedImage && croppedImage.image">
    <br />
    <br />
    <h2>
      Visible area
    </h2>

    <div>
      <img [src]="croppedImage.image" [width]="croppedWidth" [height]="croppedHeight" class="cropped-image">
    </div>
    <button ion-button (click)="uploadCroppedPhoto()" (click)="uploadCroppedPhoto()">Upload</button>
  </div>

</ion-content>