<ion-header>

  <ion-navbar>
    <ion-title>Generate Id Proof</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!isSubmitted">
  <ion-title>Your ID Card</ion-title>
  <ion-card class="id-image">
    <ion-card-content>
      <img src="assets/imgs/sample-id-card.jpg" alt="ID card image" />
    </ion-card-content>
  </ion-card>

  <ion-title>Select information to share</ion-title>
  <ion-list>
    <ion-item *ngFor="let key of getKeys(metadataDisplayNames)">
      <ion-label>{{metadataDisplayNames[key]}}</ion-label>
      <ion-checkbox color="dark" checked="myData[key]"></ion-checkbox>
    </ion-item>
  </ion-list>
  <button ion-button block (click)='generateQRCode();'>Generate QR Code</button>
</ion-content>

<ion-content *ngIf="isSubmitted">
  <div class="text-center" *ngIf="isSubmitted">
    <qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
    <a [href]="qrdata">Verificator</a>
  </div>
</ion-content>